
footer {
    background-color: #1f204c;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  
  
  .navbar {
    background-image:linear-gradient(to right, #000328, #00458e);
  }
  
  .form-group img {
      width: 300px;
  }
  
  
  
  